:root {
    --primary-color: #121212;
    --secondary-color: #39ACE7;
    --third-color: #212121;
    --accents: #4D4D4D;
  }

body {
    margin: 0;
    background-color: var(--primary-color);
    font-family: "Roboto", sans-serif;
}

body::-webkit-scrollbar {
    background-color: var(--third-color);
    width: 16px;
 }

 body::-webkit-scrollbar-thumb {
    background-color: var(--accents);
    border-radius: 16px;
    border: 4px solid var(--third-color);
 }

 body::-webkit-scrollbar-button {
    display: none;
 }

/* carousel */

.movie-card--slide {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 500px;
    overflow: hidden;
}

.movie-card--slide-content {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.movie-photo {
    position: absolute;
    right: 100px;
    width: 65%;
    height: 100%;
    object-fit: cover;
    opacity: 65%;
    mask-image: linear-gradient(to right, 
        transparent, rgba(0, 0, 0, 1) 20%, 
        rgba(0, 0, 0, 1) 80%, 
        transparent),
        linear-gradient(to bottom, 
        transparent, rgba(0, 0, 0, 1) 20%, 
        rgba(0, 0, 0, 1) 60%, 
        transparent);
    -webkit-mask-image: linear-gradient(to right, 
        transparent, rgba(0, 0, 0, 1) 20%, 
        rgba(0, 0, 0, 1) 80%, 
        transparent),
        linear-gradient(to bottom, 
        transparent, rgba(0, 0, 0, 1) 20%, 
        rgba(0, 0, 0, 1) 60%, 
        transparent); /* For WebKit browsers */
    mask-composite: intersect; /* Combine the masks */
    -webkit-mask-composite: source-in; /* For WebKit browsers */
}

.movie-photo-hidden {
    display: none;
}

.movie-card--desc {
    height: 100%;
    position: absolute;
    left: 100px;
    color: white;
    z-index: 10;
    max-width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.coming-soon-title {
    font-size: 50px;
    font-weight: 300;
    top: 0;
}

.movie-title {
    font-size: 40px;
    text-shadow: 0 1px 0 black;
    margin-top: auto;
    margin-bottom: 10px;
}

.movie-description {
    font-size: 15px;
    font-weight: 300;
    color: white;
    text-shadow: 0 1px 0 black;
}

.episode-name {
    font-size: 15px;
    font-weight: 400;
    color: white;
    text-shadow: 0 1px 0 black;
    margin-bottom: 7px;
}

.release-date {
    font-size: 15px;
    font-weight: 400;
    color: white;
    text-shadow: 0 1px 0 black;
    margin-bottom: 100px;
    border: 1px solid white;
    padding: 5px;
    width: fit-content;
}

.arrow {
    position: absolute;
    width: 2rem;
    height: 2rem;
    color: white;
    filter: drop-shadow(0px 0px 5px #555);
    z-index: 10;
}

.arrow:hover {
    cursor: pointer;
}

.arrow-left {
    left: 1rem;
}

.arrow-right {
    right: 1rem;
}

.indicators {
    display: flex;
    position: absolute;
    bottom: 1rem;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.indicator {
    background-color: white;
    height: 0.6rem;
    width: 0.6rem;
    border-radius: 50%;
    display: inline-block;
    border: none;
    outline: none;
    box-shadow: 0px 0px 5px #555;
    margin: 0 0.2rem;
    cursor: pointer;
    padding: 0;
}

.indicator-inactive {
    background-color: var(--accents);
}

/* header */

.header-container {
    display: flex;
    padding: 10px;
    margin-bottom: 10px;
}

.app-name {
    color: white;
    font-size: 24px;
    font-weight: bold;
    width: 30%;
}

.header-div {
    flex-grow: 1;
    border-bottom: solid var(--accents);
    display: flex;
    justify-content: space-between;
}

.header-list {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 7px;
}

.header-list li {
    margin: 0 15px;
  }

.header-list a {
    color: white;
    text-decoration: none;
    font-size: 18px;
  }
  
  .header-list a.active {
    color: var(--secondary-color); 
  }

  .search-icon-container {
    margin-left: auto;
    align-items: center;
    justify-content: center;
    display: flex;
  }

  /* main section */
  
  .main-container {
    margin: 20px;
    border-top: solid var(--accents);
    padding-top: 10px;
  }

  /* dropdown menu */

 .dropdowns-container--main {
    display: flex;
    justify-content: center;
    margin: 10px;
 }

 .dropdown-container {
    margin-right: 10px;
    position: relative;
 }


.dropdown-container::after {
  --size: 0.3rem;
  position: absolute;
  content: "";
  right: 0.5rem;
  pointer-events: none;
}

.dropdown-container::after {
    border-left: var(--size) solid transparent;
    border-right: var(--size) solid transparent;
    border-top: var(--size) solid white;
    top: 45%;
  }

 .dropdown-container select {
    appearance: none;
    background-color: var(--third-color);
    border: none;
    color: white;
    padding: 7px;
    border-radius: 8px;
    width: 220px;
    overflow: scroll;
 }

 .dropdown-container select::-webkit-scrollbar {
    background-color: var(--third-color);
    width: 16px;
 }

 .dropdown-container select::-webkit-scrollbar-thumb {
    background-color: var(--accents);
    border-radius: 16px;
    border: 4px solid var(--third-color);
 }

 .dropdown-container select::-webkit-scrollbar-button {
    display: none;
 }

 .main-container {
    color: white;
 }
 .main-container span {
    margin-top: 10px;
    font-size: 30px;
    margin-left: 15px;
    font-weight: 500;
    text-transform: uppercase;
 }

 .popular-movies-container {
    display: flex;
    flex-wrap: wrap;
 }

 .single-movie-container {
    display: flex;
    flex-direction: column;
    width: 200px;
    padding: 5px;
    margin: 15px;
    background-color: var(--third-color);
    border-radius: 10px;
    position: relative;
 }

 .poster {
    border-radius: 10px;
 }

 .poster:hover {
    cursor: pointer;
    opacity: 50%;
    border: 2px solid var(--secondary-color);
 }

 .title {
    width: 100%;
    text-align: center;
    font-size: 17px;
    padding: 8px 0;
    font-weight: 200;
 }

 .popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
 }

 .inner-popup {
    border-radius: 10px;
    position: relative;
    padding: 55px 25px 25px 25px;
    max-width: fit-content;
    background-color: var(--third-color);
 }

 .inner-episode-popup {
    border-radius: 10px;
    position: relative;
    padding: 55px 25px 25px 25px;
    width: 80%;
    background-color: var(--third-color);
 }

 .btn-close {
    border-radius: 10px;
    padding: 8px;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    opacity: 90%;
    cursor: pointer;
    position: absolute;
    top: 10px; 
    right: 10px; 
 }

 .credits-container {
    display: flex;
    flex-wrap: wrap;
    color: white;
 }

 .cast-card-credits {
    max-width: 100px;
    margin-right: 30px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
 }

 .cast-card-credits span {
    font-size: 12px;
    margin: 3px;
 }

 .actor-photo-credits {
    width: 100px;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 7px;
}

.actor-photo-credits:hover {
    cursor: pointer;
    opacity: 50%;
    border: 2px solid var(--secondary-color);
}

.title-genres-container {
    display: flex;
    flex-direction: column;
}
.person-details {
    margin-left: 10px;
    margin-top: 10px;
    font-weight: 200;
    font-size: 15px;
}

.person-movie-container {
    display: flex;
    margin-top: 20px;
}

.person-movie-details {
    display: flex;
    flex-direction: column;
}

.person-movie-details h3 {
    margin: 0;
}
.person-movie-info {
    font-weight: 300 !important;
    font-size: 15px !important;
}

.person-movie-info-date {
    font-weight: 300 !important;
    font-size: 13px !important;
    margin-top: auto;
}



